body {
    font-family : "Lucida Console";
    font-size : 25px;
}
.flex-container {
    display: flex;
    flex-wrap : wrap;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;

}
.dbButtons {
    display : flex;
    flex-direction : column;
    justify-content : center;
    flex-grow: 3.3;
}

.forecast {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    width: 20%;
    flex-grow: 3.3;
}
 .title {
     display : flex;
     justify-content: center;
 }
 .button {
     font-size: 20px;
     font-family: "Lucida Console";
     padding : 10px;
     margin: auto;
     margin-top : 20px;
     width: 40%;
 }

.form {
    font-size: 20px;
    font-family: "Lucida Console";
    margin: auto;
    margin-top: 10px;
    padding : 0px;
    width: 45%;
}
.form:hover {
    box-shadow : none;
}
.optimizationMethod {
    font-family: "Lucida Console";
    font-size: 20px;
    padding: 0px 4px;
    border: none;
    margin-top: 10px;
}
    .optimizationMethod:focus {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border: 1px solid black;
    }
.user, .labelForm {
    display : flex;
    flex-direction:column;  
    padding: 10px;
    margin: auto;
    width: 40%;
}
.labelForm {
    padding: 40px 10px 20px 10px;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 3.4;
}
.input-text {
    font-family: "Lucida Console";
    font-size : 20px;
    width: 90%;
    padding: 10px ;
    box-sizing: border-box;
    border: none;
    border-bottom : 1px solid black;
}
.input-text:focus {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: none;
}
.label {
    font-size: 20px;
    font-family: "Lucida Console";
}
.text-area {
    width: 60%;
    height: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    resize: none;
}
.text-area:focus {
   border : none;
   outline: none;
}
.buttonHover:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.19), 0 17px 50px 0 rgba(0,0,0,0.10);
}
.buttonNoHover:hover {
    box-shadow : none;
}
